.App {
  text-align: center;
}

.logoutContainer {
  display: flex;
  justify-content: flex-end;
  margin: 16px;
}

.logout {
  height: 50px;
  width: 150px;
  background: #ffffff;
  font-size: inherit;
  color: #002a57;
  cursor: pointer;
}

.logout:hover {
  background: #002a57;
  color: #ffffff;
}
